* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url('images/fondo.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#imagen-container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    border: 5px solid white;
    border-radius: 15px;
    overflow: hidden;
}

#imagen-container img {
    width: 100%;
    height: auto;
    display: block;
}

.sticky-header {
    position: sticky;
    top: 0;
    background-color: rgba(218, 153, 42, 0.9);
    z-index: 1000;
    scroll-margin-top: 50px;
}

header {
    padding: 12px;
    border-radius: 25px;
    width: 100%;
}

#header-banner-flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main-title {
    font-family: 'Rakkas', serif;
    font-size: 46px;
    color: #280700;
}

#nav-menu {
    display: flex;
    align-items: center;
}

#nav-menu a {
    font-size: 20px;
    color: #280700;
    text-decoration: none;
    margin: 0 10px;
    transition: font-size 0.5s;
}

#nav-menu a:hover {
    color: #FFF7EF;
    font-size: 24px;
}

.section-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(248, 217, 176, 0.7);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    scroll-margin-top: 150px;
}

#descripcion {
    text-align: center;
}

#descripcion .container {
    max-width: 600px;
    margin: 0 auto;
}

#nueva-seccion {
    border-radius: 10px;
    position: sticky;
    top: 150px;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 999;
    padding: 12px;
    max-width: 250px;
}

#nueva-seccion .top-link {
    margin-bottom: 10px;
}

#nueva-seccion .top-link a {
    color: #000000;
    text-decoration: none;
    font-size: 18px;
}

#nueva-seccion .top-link a:hover {
    color: #ff7b00;
}

.section-container:not(#nueva-seccion) .top-link {
    display: none;
}

.extra {
    display: none;
}

#btn:checked ~ .extra,
#btn2:checked ~ .extra {
    display: block;
}

#btn,
#btn2 {
    display: none;
}

label[for="btn"],
label[for="btn2"] {
    display: inline-block;
    cursor: pointer;
    color: blue;
}

#btn:checked + label[for="btn"]::after,
#btn2:checked + label[for="btn2"]::after {
    content: "Leer menos";
}

#btn + label[for="btn"]::after,
#btn2 + label[for="btn2"]::after {
    content: "Leer más";
}



.destination-item img {
    max-width: 100%;
    border-radius: 10px;
}

.destination-item {
    text-align: center;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.destination-item:hover {
    transform: translateY(-10px);
}

.destination-item img {
    max-width: 100%;
    border-radius: 10px;
}

.destination-item .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    color: #e98400;
    padding: 10px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 40px;
    font-weight: bold;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.destination-item:hover .overlay {
    opacity: 1;
}


#itinerario {
    text-align: center;
}

#itinerario ul {
    list-style-type: none;
    padding-left: 0;
}

.day {
    cursor: help;
    position: relative;
    margin-bottom: 20px;
}

.info {
    display: none;
    position: relative;
    top: -15px;
    background-color: rgba(255, 255, 255, 0.7);
    color: #000;
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
}

.info {
    color: rgb(0, 0, 0);
}

.day:hover + .info {
    display: block;
}


.video-container {
    display: flex;
    justify-content: center;
}

.video-container iframe {
    max-width: 100%;
    max-height: 100%;
}

.footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px 0;
}

#btn3:checked ~ .extra {
    display: block;
}

#btn3 {
    display: none;
}

label[for="btn3"] {
    display: inline-block;
    cursor: pointer;
    color: blue;
}

#btn3:checked + label[for="btn3"]::after {
    content: "Leer menos";
}

#btn3 + label[for="btn3"]::after {
    content: "Leer más";
}
